<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072361491352-02oug5l3hlougqo6rgqrmha5vgrj1m1s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072361491352-02oug5l3hlougqo6rgqrmha5vgrj1m1s</string>
	<key>API_KEY</key>
	<string>AIzaSyCnTnl5RvyAnOJhpvmN3qv0pVQrmeKdw94</string>
	<key>GCM_SENDER_ID</key>
	<string>1072361491352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saleing</string>
	<key>PROJECT_ID</key>
	<string>ourproject-2e467</string>
	<key>STORAGE_BUCKET</key>
	<string>ourproject-2e467.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072361491352:ios:ee1a5dd04b4df4412bf9ed</string>
</dict>
</plist>